.image
{
    width: auto;
    height: 11%;
    position: absolute;
    left: -5px;
}

.home-button
{
    margin-left: -100px;
}

.imagehouse
{
    width: auto;
    height: 7%;
    position: absolute;
    left: 80px;
}
