.image
{
    width: auto;
    height: 6rem;
    position: absolute;
    left: -0.4rem;
    top: -0.8rem;

}

.home-button
{
    margin-left: 1rem;
}

.profile
{
    width: auto;
    height: 2.6rem;
    position: fixed;
    right: -10rem;
    top: 0.8rem;
}

.logout
{
    position: relative;
    right: -10rem;
}

.franco
{
    top: 3.3rem;
    right: 3rem;
}



