<nav class="bg-[#8CC084] p-4" >
    <div class="container mx-auto flex justify-between items-center">
        <img src="assets/images/logo.png" class="image" alt="Logo">
      <div>
        <button class="home-button font-bold text-white hover:text-gray-400 mx-2" routerLink="/">HOME</button>
    </div>
        <svg class="imagehouse" xmlns="http://www.w3.org/2000/svg" height="48" width="48">
            <path
                d="M11 39h7.5V26.5h11V39H37V19.5L24 9.75 11 19.5Zm-3 3V18L24 6l16 12v24H26.5V29.5h-5V42Zm16-17.65Z" />
            </svg>
        <!-- <button [ngClass]="{'text-gray-600': !auth.isLogged(),'text-white hover:text-gray-400':auth.isLogged()}" class="mx-2" [disabled]="!auth.isLogged()" routerLink="/logged">UTENTI LOGGATI</button> -->
        <button [ngClass]="{'hidden': !auth.userHasRole('ADMIN'),}" class=" text-white hover:text-gray-400 mx-2" [disabled]="!auth.userHasRole('ADMIN')" routerLink="/admin">ADMIN</button>
      <div>
        <button class="rounded-md bg-orange-600 text-sm mt-3 p-2 mx-2" routerLink="/singin">Sing in</button>
        <button class="rounded-md bg-orange-600 text-sm mt-3 p-2 mx-2" routerLink="/login">Login</button>
      </div>
    </div>
  </nav>