.image
{
    width: auto;
    height: 7%;
    position: absolute;
    left: 10px;
}

.home-button
{
    margin-left: -65px;
}

.imagehouse
{
    width: auto;
    height: 7%;
    position: absolute;
    left: 80px;
}