<div class="flex justify-center items-center px-3 py-10 background">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="assets/images/pinguFIt.png" alt="Pingu">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Conferma della registrazione</div>
            <p class="text-gray-700 text-base">
                Benvenuto Fitguista, siamo lieti di averti! Esplora il nostro sito e divertiti!
            </p>
        </div>
        <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Fit</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Frutta</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Food</span>
        </div>
    </div>
</div>