<div class="flex-container">
  
  <div class="form-container">
    <form [formGroup]="monitoraggioFormBfp" (ngSubmit)="onSubmitBfp()">
      <div>
        <h1><strong>CALCOLO BFP</strong> (Percentuale di Grasso Corporeo)</h1>
      </div>
      <br>
      <div>
        <label for="altezza"><b>Altezza</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="altezza" formControlName="altezza" type="number">
      </div>
      <div>
        <label for="girovita"><b>Girovita</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="girovita" formControlName="girovita" type="number">
      </div>
      <div>
        <label for="collo"><b>Collo</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="collo" formControlName="collo" type="number">
      </div>
      <div>
        <label for="fianchi"><b>Fianchi</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="fianchi" formControlName="fianchi" type="number">
      </div>
      <div>
        <label for="sesso"><b>Sesso</b>:</label><br>
          <select class="rounded-lg ml-3" id="sesso" formControlName="sesso">
            <option value="M">Maschio</option>
            <option value="F">Femmina</option>
          </select>
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormBfp.valid">Calcola BFP</button>
      <div *ngIf="bfp !== null">
        <p>Il tuo BFP è: {{ bfp }} %</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormBmr" (ngSubmit)="onSubmitBmr()">
      <div>
        <h1><strong>CALCOLO BMR</strong> (Tasso Metabolico Basale)</h1><br>
      </div>
      <div>
        <label for="peso"><b>Peso</b> (kg):</label><br>
        <input class="rounded-lg ml-3" id="peso" formControlName="peso" type="number">
      </div>
      <div>
        <label for="altezza"><b>Altezza</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="altezza" formControlName="altezza" type="number">
      </div>
      <div>
        <label for="eta"><b>Età</b>:</label><br>
        <input class="rounded-lg ml-3" id="eta" formControlName="eta" type="number">
      </div>
      <div>
        <label for="sesso"><b>Sesso</b>:</label><br>
        <select class="rounded-lg ml-3" id="sesso" formControlName="sesso">
          <option value="M">Maschio</option>
          <option value="F">Femmina</option>
        </select>
      </div><br><br><br>
      <button type="submit" [disabled]="!monitoraggioFormBmr.valid">Calcola BMR</button>
      <div *ngIf="bmr !== null">
        <p>Il tuo BMR è: {{ bmr }} kcal/giorno</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormTdee" (ngSubmit)="onSubmitTdee()">
      <div>
        <h1><strong>CALCOLO TDEE</strong> (Dispendio Energetico Totale Giornaliero)</h1><br>
      </div>
      <div>
        <label for="livelloAttivita"><b>Livello di Attività</b>:</label><br>
        <select id="livelloAttivita" formControlName="livelloAttivita">
          <option value="sedentario">Sedentario</option>
          <option value="leggero">Leggero</option>
          <option value="moderato">Moderato</option>
          <option value="intenso">Intenso</option>
          <option value="moltoIntenso">Molto Intenso</option>
        </select>
      </div>
      <div>
        <label for="bmr"><b>BMR</b> (Tasso Metabolico Basale):</label><br>
        <input id="bmr" formControlName="bmr" type="number">
      </div><br><br><br><br><br><br><br><br>
      <button type="submit" [disabled]="!monitoraggioFormTdee.valid">Calcola TDEE</button>
      <div *ngIf="tdee !== null" class="result">
        <p>Il tuo TDEE è: {{ tdee }} %</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormIbw" (ngSubmit)="onSubmitIbw()">
      <div>
        <h1><strong>CALCOLO IBW</strong> (Peso Ideale)</h1> <br>
      </div>
      <div>
        <label for="altezza"><b>Altezza</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="altezza" formControlName="altezza" type="number">
      </div>
      <div>
        <label for="sesso"><b>Sesso</b>:</label><br>
        <select class="rounded-lg ml-3" id="sesso" formControlName="sesso">
          <option value="M">Maschio</option>
          <option value="F">Femmina</option>
        </select>
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormIbw.valid">Calcola IBW</button>
      <div *ngIf="ibw !== null">
        <p>Il tuo IBW è: {{ ibw }} kg</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormLbm" (ngSubmit)="onSubmitLbm()">
      <div>
        <h1><strong>CALCOLO LBM</strong> (Massa Corporea Magra)</h1><br>
      </div>
      <div>
        <label for="peso"><b>Peso</b> (kg):</label><br>
        <input class="rounded-lg ml-3" id="peso" formControlName="peso" type="number">
      </div>
      <div>
        <label for="bfp"><b>BFP</b> (%):</label><br>
        <input class="rounded-lg ml-3" id="bfp" formControlName="bfp" type="number" [(ngModel)]="bfp">
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormLbm.valid">Calcola LBM</button>
      <div *ngIf="lbm !== null">
        <p>La tua LBM è: {{ lbm }} kg</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormImc" (ngSubmit)="onSubmitImc()">
      <div>
        <h1><strong>CALCOLO IMC</strong> (Indice Massa Corporea)</h1><br>
      </div>
      <div>
        <label for="peso"><b>Peso</b> (kg):</label><br>
        <input class="rounded-lg ml-3" id="peso" formControlName="peso" type="number">
      </div>
      <div>
        <label for="altezza"><b>Altezza</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="altezza" formControlName="altezza" type="number">
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormImc.valid">Calcola IMC</button>
      <div *ngIf="imc !== null">
        <p>Il tuo IMC è: {{ imc }}</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormWhr" (ngSubmit)="onSubmitWhr()">
      <div>
        <h1><strong>CALCOLO WHR </strong> (Rapporto Vita/Fianchi)</h1><br>
      </div>
      <div>
        <label for="girovita"><b>Girovita</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="girovita" formControlName="girovita" type="number">
      </div>
      <div>
        <label for="fianchi"><b>Fianchi</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="fianchi" formControlName="fianchi" type="number">
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormWhr.valid">Calcola WHR</button>
      <div *ngIf="whr !== null">
        <p>Il tuo WHR è: {{ whr }}</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormWHtR" (ngSubmit)="onSubmitWhtr()">
      <div>
        <h1><strong>CALCOLO WHtR</strong> (Rapporto Vita/Altezza)</h1><br>
      </div>
      <div>
        <label for="girovita"><b>Girovita</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="girovita" formControlName="girovita" type="number">
      </div>
      <div>
        <label for="altezza"><b>Altezza</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="altezza" formControlName="altezza" type="number">
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormWHtR.valid">Calcola WHtR</button>
      <div *ngIf="whtr !== null">
        <p>Il tuo WHtR è: {{ whtr }}</p>
      </div>
    </form>
  </div>

  <div class="form-container">
    <form [formGroup]="monitoraggioFormFfmi" (ngSubmit)="onSubmitFfmi()">
      <div>
        <h1><strong>CALCOLO FFMI</strong> (Indice di Massa Corporea Magra)</h1><br>
      </div>
      <div>
        <label for="altezza"><b>Altezza</b> (cm):</label><br>
        <input class="rounded-lg ml-3" id="altezza" formControlName="altezza" type="number">
      </div>
      <div>
        <label for="lbm"><b>LBM</b> (%):</label><br>
        <input class="rounded-lg ml-3" id="lbm" formControlName="lbm" type="number">
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormFfmi.valid">Calcola FFMI</button>
      <div *ngIf="ffmi !== null">
        <p>Il tuo FFMI è: {{ ffmi }}</p>
      </div>
    </form>
  </div>
  
  <div class="form-container">
    <form [formGroup]="monitoraggioFormProteinIntake" (ngSubmit)="onSubmitProteinIntake()">
      <div>
        <h1><strong>CALCOLO PROTEIN INTAKE</strong> (Fabbisogno Proteico)</h1><br>
      </div>
      <div>
        <label for="peso"><b>Peso</b> (kg):</label><br>
        <input class="rounded-lg ml-3" id="peso" formControlName="peso" type="number">
      </div>
      <div>
        <label for="livelloAttivita"><b>Livello di Attività</b>:</label><br>
        <select class="rounded-lg ml-3" id="livelloAttivita" formControlName="livelloAttivita">
          <option value="sedentario">Sedentario</option>
          <option value="leggero">Leggero</option>
          <option value="moderato">Moderato</option>
          <option value="intenso">Intenso</option>
          <option value="moltoIntenso">Molto Intenso</option>
        </select>
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormProteinIntake.valid">Calcola Protein Intake</button>
      <div *ngIf="proteinIntake !== null">
        <p>Il tuo Fabbisogno Proteico è: {{ proteinIntake }} g</p>
      </div>
    </form>
  </div>
  
  <div class="form-container">
    <form [formGroup]="monitoraggioFormHydrationStatus" (ngSubmit)="onSubmitHydrationStatus()">
      <div>
        <h1><strong>CALCOLO HYDRATION STATUS</strong> (Stato di Idratazione)</h1><br>
      </div>
      <div>
        <label for="peso"><b>Peso</b> (kg):</label><br>
        <input class="rounded-lg ml-3" id="peso" formControlName="peso" type="number">
      </div>
      <div>
        <label for="lbm"><b>LBM</b> (kg):</label><br>
        <input class="rounded-lg ml-3" id="lbm" formControlName="lbm" type="number" [(ngModel)]="lbm">
      </div><br>
      <button type="submit" [disabled]="!monitoraggioFormHydrationStatus.valid">Calcola Hydration Status</button>
      <div *ngIf="hydrationStatus !== null">
        <p>Il tuo Stato di Idratazione è: {{ hydrationStatus }} %</p>
      </div>
    </form>
  </div>
</div>
