.custom-icon {
    font-size: 28px;
    color: gray; /* Colore iniziale grigio */
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  #happy.active {
    color: rgba(38, 223, 25, 0.936); /* Verde */
  }
  
  #me.active {
    color: rgb(117, 135, 250); /* Blu */
  }
  
  #sad.active {
    color: rgb(253, 78, 78); /* Rosso */
  }