<div class="background">
  <!-- GRIGLIA CAROSELLO -->
  <div class="grid grid-cols-1 sm:grid-cols-1 gap-4 mt-10 p-10">
    <div
      class="flex justify-center items-center border border-gray-500 rounded-lg p-4 bg-white h-32 w-full"
    >
      <div class="text-center">
        <h4 class="font-semibold text-base text-primary tracking-normal">
          Alice Caroselli
        </h4>
        <p class="text-sm font-normal text-gray tracking-normal">woof woof</p>
      </div>
    </div>
  </div>

  <!-- GRIGLIA DIVISA IN DUE COLONNE -->
  <div class="flex flex-row gap-10 px-10">
    <!-- COLONNA SINISTRA -->
    <div class="w-1/2 flex flex-col gap-4">
      <!-- Elemento Ricette -->
      <div
        routerLink="/profile"
        class="group cursor-pointer overflow-hidden px-10 pt-6 pb-4 shadow-xl ring-1 ring-gray-900/5 border border-gray-500 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl mx-auto rounded-lg hover:bg-[#FFB870] h-48 w-full flex items-center justify-center"
      >
        <div class="text-center">
          <h4 class="font-bold text-base text-primary tracking-normal">
            Cronologia ricette
          </h4>
          <p>Ricette giornaliere di tutti i gusti!</p>
        </div>
      </div>
      <!-- Elemento Monitoraggio -->
      <a
        routerLink="/monitoraggio"
        class="group cursor-pointer overflow-hidden px-10 pt-6 pb-4 shadow-xl ring-1 ring-gray-900/5 border border-gray-500 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl mx-auto rounded-lg hover:bg-[#FFB870] h-48 w-full flex items-center justify-center"
      >
        <div class="text-center">
          <h4 class="font-bold text-base text-primary tracking-normal">
            Monitoraggio
          </h4>
          <p>Aggiungere beve descrizione</p>
        </div>
      </a>
    </div>

    <!-- COLONNA DESTRA -->
    <div class="w-1/2 flex flex-col gap-4">
      <!-- Elemento Agenda -->
      <a
        routerLink="/agenda"
        class="group relative cursor-pointer overflow-hidden px-10 pt-6 pb-4 shadow-xl ring-1 ring-gray-900/5 border border-gray-500 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl mx-auto rounded-lg hover:bg-[#FFB870] h-48 w-full flex items-center justify-center"
      >
        <div class="relative z-10 mx-auto text-center">
          <h4 class="font-bold text-base text-primary tracking-normal">
            Agenda
          </h4>
          <p>Scopri cosa devi mangiare oggi!</p>
        </div>
      </a>
      <!-- Elemento Frigo -->
      <a
        routerLink="/frigo"
        class="group cursor-pointer overflow-hidden px-10 pt-6 pb-4 shadow-xl ring-1 ring-gray-900/5 border border-gray-500 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl mx-auto rounded-lg hover:bg-[#FFB870] h-48 w-full flex items-center justify-center"
      >
        <div class="text-center">
          <h4 class="font-bold text-base text-primary tracking-normal">
            Frigo
          </h4>
          <p>
            Metti nel tuo frigo online gli ingredienti che preferisci e faremo
            una ricetta per te!
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
